<%# cssは商品出品のものを併用しています。
app/assets/stylesheets/items/new.css %>

<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('toraposu-icon.png' , size: '200x150'), "/" %>
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">宿の情報を入力</h2>
    <%= form_with model: @hotel, local: true do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示される%>
    <%= render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示される%>

    <%# 出品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        宿の写真
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        宿の名前
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"宿の名前（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          宿の設備
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :facilities, class:"items-text", id:"item-info", placeholder:"宿の設備（必須 1000文字まで）例）ダブルベッド、ユニットバス、歯ブラシ、タオル、ドライヤー" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    

  
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', "#", class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
  </footer>
</div>