<%= render "shared/second-header"%>

<div class="items-sell-contents">
  
  <div class="items-sell-main">
    <h2 class="items-sell-title">宿の情報を入力</h2>
    <%= form_with model: @hotel, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 出品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        宿の写真
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :images, multiple: true, id:"item-image" %>
      </div>
    </div>
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        宿の名前
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"宿の名前（必須 40文字まで)", maxlength:"40" %>
         <div class="weight-bold-text">
        宿の住所
        <span class="indispensable">必須</span>
      </div>
        <%= f.text_area :adress, class:"items-text", placeholder:"宿の住所（必須 60字まで)", maxlength:"60" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          宿の設備
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :facilities, class:"items-text", id:"item-info", placeholder:"宿の設備（必須 1000文字まで）例）ダブルベッド、ユニットバス、歯ブラシ、タオル、ドライヤー" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    
    

    

    <%# 販売価格 %>
    <div class="sell-price">
        <div class="price-content">
          <div class="price-text">
            <span>一人1泊あたりの予算</span>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）15000" %>
        </div>
    </div>
    <%# /販売価格 %>

     <%# チェックイン時刻 %>
    <div class="check-in">
     <div class="checkin-content">
        <div class="checkin-text">
          <span>チェックイン時刻</span>
          <span class="indispensable">必須</span>
        </div>
          <%= f.text_field :check_in_hour, class:"checkin-input", placeholder:" 例) 15"%>
          <span>時</span>
          <%= f.text_field :check_in_minutes, class:"checkin-input", placeholder:" 例) 30"%>
          <span>分</span>
      </div>
    </div>

    <%# /チェックイン時刻 %>

    <%# チェックアウト時刻 %>
    <div class="check-out">
     <div class="checkout-content">
        <div class="checkout-text">
          <span>チェックアウト時刻</span>
          <span class="indispensable">必須</span>
        </div>
          <%= f.text_field :check_out_hour, class:"checkout-input", placeholder:"例) 10"%>
          <span>時</span>
          <%= f.text_field :check_out_minutes, class:"checkout-input", placeholder:" 例) 30"%>
          <span>分</span>
      </div>
    </div>

    <%# /チェックアウト時刻 %>
       <div class="items-explain">
        <div class="weight-bold-text">
          その他の情報
        </div>
        <%= f.text_area :facilities, class:"others_info", placeholder:"その他の情報（1000文字まで）例）〇〇駅から徒歩15分" ,rows:"7" ,maxlength:"1000" %>
      </div>

   
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <%= render "shared/footer" %>